.venv/
.mar28-env/
.newenv/
.newenv2/
.aprl8env/
out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
wandb
evaluate.py
test_data.json
todo.txt
.vscode
benchmark/traces/
benchmark/*.log
not_to_push/
index_data/
*.jsonl
benchmark/logs
benchmark/appendonlydir
benchmark/results
*.rdb
*.csv
.flake8
*.tiktoken
benchmark/run_configs