accelerate==0.21.0
aiohttp==3.8.4+computecanada
aiosignal==1.3.1+computecanada
appdirs==1.4.4+computecanada
async_timeout==4.0.2+computecanada
bitsandbytes==0.40.2
blinker==1.6.2+computecanada
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7+computecanada
datasets==2.13.1
dill==0.3.6+computecanada
filelock==3.12.2
fire==0.4.0+computecanada
Flask==2.3.2+computecanada
frozenlist==1.3.3+computecanada
fsspec==2023.6.0+computecanada
huggingface-hub==0.16.4
idna==3.4+computecanada
itsdangerous==2.1.2+computecanada
Jinja2==3.1.2+computecanada
loralib==0.1.1
MarkupSafe==2.1.2+computecanada
mpmath==1.3.0+computecanada
multidict==6.0.4+computecanada
multiprocess==0.70.14+computecanada
networkx==3.1+computecanada
numpy==1.24.2+computecanada
packaging==23.1+computecanada
peft @ git+https://github.com/huggingface/peft.git@0769587a3cd80ad2ae508cc06efbf54ddca821b3
psutil==5.9.4+computecanada
python-dateutil==2.8.2+computecanada
PyYAML==6.0+computecanada
regex==2022.10.31+computecanada
requests==2.31.0
safetensors==0.3.1+computecanada
sentencepiece==0.1.97+computecanada
six==1.16.0+computecanada
sympy==1.12+computecanada
termcolor==2.3.0+computecanada
tokenizers==0.13.3+computecanada
torch==2.0.1+computecanada
tqdm==4.65.0+computecanada
transformers==4.31.0
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug==2.3.7
xxhash==3.2.0+computecanada
yarl==1.8.2+computecanada
